// Styles for Forms
// --------------------------------------------------

.form-select {
  width: auto;
}

.media-tabs-wrapper {
  background: none;
}

.media-tabs-wrapper .tabs a {
  font-size: 1em;
  color: #333;
  line-height: 1.8em;
  font-family: sans-serif;
}

