.annotate-link {
  font-size: 1.2em;
  font-weight: 900;
}

.annotate-link:before {
  content: "+";
  font-size: 1.5em;
  top: 0em;
  color: #2FA6E5;
  position: relative;
  margin-right: 0.1em;
}

.wizard-trail {
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 3px;
  border-color: #ddd;
  margin-bottom: 20px;
}
