/*
 *------------------------------------------------------------------------------
 * Node icon map.
 *------------------------------------------------------------------------------
 */

$icon-node-type-selectors: (
  ".node-pece-essay": "\f1ea",
  ".node-pece-artifact-fieldnote": "\f249",
  ".node-pece-artifact-bundle": "\f1b3",
  ".node-pece-artifact-website": "\f0c1",
  ".node-pece-artifact-pdf": "\f1c1",
  ".node-pece-artifact-spdsheet": "\f0ce",
  ".node-pece-artifact-video": "\f144",
  ".node-pece-artifact-audio": "\f001",
  ".node-pece-artifact-text": "\f036",
  ".node-pece-memo": "\f0eb",
  ".node-pece-analytic": "\f059",
  ".node-pece-annotation": "\f24a",
  ".node-pece-project": "\f0e8",
  ".user-profile": "\f007",
  ".node-pece-photo-essay": "\f03e",
  ".node-pece-artifact-image": "\f03e",
  ".node-pece-group": "\f0c0",
  ".node-pece-timeline-essay": "\f538"
);

$icon-selectors: (
  ".node-pece-timeline-essay > .icon": "\f017",
  ".node-pece-essay > .icon": "\f1ea",
  ".node-pece-artifact-fieldnote > .icon": "\f249",
  ".node-pece-artifact-bundle > .icon": "\f1b3",
  ".node-pece-artifact-website > .icon": "\f0c1",
  ".node-pece-artifact-pdf > .icon": "\f1c1",
  ".node-pece-artifact-spdsheet > .icon": "\f0ce",
  ".node-pece-artifact-video > .icon": "\f144",
  ".node-pece-artifact-audio > .icon": "\f001",
  ".node-pece-artifact-text > .icon": "\f036",
  ".node-pece-memo > .icon": "\f0eb",
  ".node-pece-analytic > .icon": "\f059",
  ".node-pece-annotation > .icon": "\f24a",
  ".node-pece-project > .icon": "\f0e8",
  ".user-profile > .icon": "\f007",
  ".node-pece-photo-essay > .icon": "\f03e",
  ".node-pece-artifact-image > .icon": "\f03e",
  ".node-pece-group > .icon": "\f0c0",

  "i.pece_artifact_fieldnote": "\f249",
  "i.pece_artifact_bundle": "\f1b3",
  "i.pece_artifact_website": "\f0c1",
  "i.pece_artifact_pdf": "\f1c1",
  "i.pece_artifact_spdsheet": "\f0ce",
  "i.pece_artifact_video": "\f144",
  "i.pece_artifact_audio": "\f001",
  "i.pece_artifact_text": "\f036",
  "i.pece_memo": "\f0eb",
  "i.pece_timeline_essay": "\f538"
);
