/*
 *------------------------------------------------------------------------------
 * PECE Group node styles
 *------------------------------------------------------------------------------
 */

.node-pece-group.view-mode-mini-teaser
  position: relative
  text-transform: center

  h5
    padding-left: 100px;
    line-height: 70px;
    margin: 0px;

  .field-name-field-pece-media-image
    .file-image
      img
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: 70px
        object-fit: cover
