/*
 *------------------------------------------------------------------------------
 * PECE Group node styles
 *------------------------------------------------------------------------------
 */

.node-pece-group.view-mode-mini-teaser
  text-transform: center

  h5
    display: none

  .field-name-field-pece-media-image
    .file-image
      position: relative
      padding-top: 100%
      width: 100%

      img
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        height: 100%
        width: 100%
        object-fit: cover
