/* Drupal Ipsum styles */

div.drupal_ipsum_results_container {
  -moz-box-shadow: 0 0 4px #222;
  -webkit-box-shadow: 0 0 4px #222;
  box-shadow: 0 0 4px #222;
  padding: 5px 10px;
}

textarea.drupal_ipsum_textarea {
  padding: 10px;
  border: 0 none;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
  box-shadow: 1px 1px 4px #ccc;
  width: 600px;
  height: 300px;
  display: none;
}

a.drupal_ipsum_select {
  display: block;
}