language: php

addons:
  ssh_known_hosts: pece.revax.com.br
  apt:
    packages:
      - php5.6-cgi
      - php5.6-mysql
      - php7.4-cgi
      - php7.4-mysql
      - php8.1-cgi
      - php8.1-mysql
php:
  - 5.6
  - 7.4
  - 8.1

mysql:
  database: pece
  username: root
  encoding: utf8

env:
  - TRAVIS_NODE_VERSION="4"

services:
  - docker

# branches:
#   - dev

# Production Env Setup
before_install:
  - docker-compose run production

install:
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
  - npm install
  # install drush
  - pear channel-discover pear.drush.org
  - pear install drush/drush-5.8.0
  - phpenv rehash


before_deploy:
  - openssl aes-256-cbc -K $encrypted_33c1172ef7ff_key -iv $encrypted_33c1172ef7ff_iv -in deploy-travisci.enc -out /tmp/deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/deploy_rsa
  - ssh-add /tmp/deploy_rsa

# E2E Tests Setup
before_script:
  # Setup /tmp directory for tests
  - mkdir /tmp/pece
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - nohup bash -c "./node_modules/protractor/bin/webdriver-manager start 2>&1 &"
  - sleep 3 # give xvfb some time to start
  - nvm use default

  # navigate out of module directory to prevent blown stack by recursive module lookup
  - cd ../..

  # create new site, stubbing sendmail path with true to prevent delivery errors and manually resolving drush path
  - mysql -e 'create database pece'
  - php -d sendmail_path=`which true` `pear config-get php_dir`/drush/drush.php --yes core-quick-drupal --profile=testing --no-server --db-url=mysql://root:@127.0.0.1/pece --enable=simpletest pece

  # reference and enable travis_ci_drupal_module_example in build site
  - ln -s $(readlink -e $(cd -)) amber/drupal/sites/all/modules
  - cd amber/drupal
  - drush --yes pm-enable amber

  # start a web server on port 8080, run in the background
  - drush runserver 127.0.0.1:8080 &

script:
  - echo "Script Running..."
  - drush test-run 'Pece, PeceWeb' --uri=http://127.0.0.1:8080
  - cd profiles/pece/modules
  - phpunit --exclude-group ExternalInterfaces .
  - npm test

deploy:
  - provider: script
    skip_cleanup: true
    script: ./deploy-dev.sh
    on:
      branch: dev

after_success:
  - echo "Deployed Successfully! \o/"
