default:
  suites:
    default:
      paths:
        - '%paths.base%/tests/features'
      contexts:
        - Drupal\DrupalExtension\Context\MarkupContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
        - OpenEuropa\Site\Tests\Behat\DrupalContext
        - OpenEuropa\Site\Tests\Behat\FeatureContext
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      ajax_timeout: 10
      browser_name: 'chrome'
      javascript_session: 'selenium2'
      selenium2:
        wd_host: 'http://localhost:4444/wd/hub'
        browser: 'chrome'
        capabilities:
          browser: 'chrome'
          marionette: true
          chrome:
            switches:
              - "--headless"
              - "--disable-gpu"
              - "--no-sandbox"
              - "--disable-dev-shm-usage"
          extra_capabilities:
            unexpectedAlertBehaviour: accept
      base_url: 'https://drupal-pece.ddev.site'
    Drupal\DrupalExtension:
      api_driver: 'drupal'
      drupal:
        drupal_root: 'web'
      region_map:
        page: 'body'
        header: 'header'
        navigation: 'nav'
        content: 'main'
        footer: 'footer'
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages--error'
        success_message_selector: '.messages--status'
        warning_message_selector: '.messages--warning'
        login_form_selector: '#user-login-form'
      text:
        log_in: 'Log in'
        log_out: 'Log out'
  formatters:
    progress: ~
