/* PECE Distro Overrides */
.ui-tabs .ui-tabs-nav li.ui-state-active .ui-tabs-anchor { border-color:#a02267; background-color: #a02267; }
.ui-tabs .ui-tabs-nav li.ui-state-active .ui-tabs-anchor:hover { color: #a02267 }

.ui-tabs .ui-tabs-nav li .ui-tabs-anchor { border-color:#a02267; }
.ui-tabs .ui-tabs-nav li .ui-tabs-anchor:hover { background-color: #a02267; }

.view-mode-card .icon,
.view-mode-teaser .icon,
.view-mode-most-recent .icon,
.view-mode-mini-teaser .icon,
.view-mode-meta-content .icon,
.view-pece-structured-analytics i { background-color: #a02267; }

.essay-link,
.annotate-link,
.field-name-group-group .field-item > a,
.field-name-field-pece-photo-essay-items [data-remodal-target] { background-color: #c42675; }
.essay-link:hover,
.annotate-link:hover,
.field-name-group-group .field-item > a:hover,
.field-name-field-pece-photo-essay-items [data-remodal-target]:hover { background-color: #ec3a93; }

.dashboard-artifact-submenu .dashboard-artifact-toggle::before { color: #a02267; }

.view-id-pece_my_noted_artifacts li.views-row > div::before,
.view-id-pece_my_analytics li.views-row > div::before,
.view-pece-my-biblio-items li.views-row > div::before,
.view-id-pece_my_projects li.views-row > div::before,
.view-pece-my-fieldsites li.views-row > div::before,
.view-id-pece_my_groups li.views-row > div::before { background-color: #a02267; }