/* PECE Distro Overrides */

/* Tabs */

.ui-tabs .ui-tabs-nav li.ui-state-active .ui-tabs-anchor { border-color:#c14300; background-color: #c14300; }
.ui-tabs .ui-tabs-nav li.ui-state-active .ui-tabs-anchor:hover { color: #c14300 }

.ui-tabs .ui-tabs-nav li .ui-tabs-anchor { border-color:#c14300; }
.ui-tabs .ui-tabs-nav li .ui-tabs-anchor:hover { background-color: #c14300; }

/* View mode */

.view-mode-card .icon,
.view-mode-teaser .icon,
.view-mode-most-recent .icon,
.view-mode-mini-teaser .icon,
.view-pece-structured-analytics i { background-color: #c14300; }

.view-mode-meta-content .icon,
.view-mode-meta-content .icon::before { color: #c14300; }

/* Buttons */

.essay-link,
.annotate-link,
.view-mode-card .button,
.field-name-group-group .field-item > a,
.view-display-id-pece_question_annotations .view-footer a,
.view-display-id-pece_user_artifact_annotations .view-footer a,
.view-display-id-pece_question_artifact_annotions .view-footer a,
.field-name-field-pece-photo-essay-items [data-remodal-target] { background-color: #de4d00; }

.essay-link:hover,
.annotate-link:hover,
.view-mode-card .button:hover,
.field-name-group-group .field-item > a:hover,
.view-display-id-pece_question_annotations .view-footer a:hover,
.view-display-id-pece_user_artifact_annotations .view-footer a:hover,
.view-display-id-pece_question_artifact_annotions .view-footer a:hover,
.field-name-field-pece-photo-essay-items [data-remodal-target]:hover { background-color: #ff6a1b; }

/* Menu */

.dashboard-artifact-submenu .dashboard-artifact-toggle::before { color: #c14300; }

/* Views */

.view-display-id-pece_question_annotations .views-field-picture::before,
.view-display-id-pece_question_artifact_annotions .views-field-picture::before,
.view-display-id-pece_user_artifact_annotations .views-field-picture::before,
.view-id-pece_my_noted_artifacts li.views-row > div::before,
.view-id-pece_my_analytics li.views-row > div::before,
.view-pece-my-biblio-items li.views-row > div::before,
.view-id-pece_my_projects li.views-row > div::before,
.view-pece-my-fieldsites li.views-row > div::before,
.view-id-pece_my_groups li.views-row > div::before { background-color: #c14300; }

.view-display-id-pece_user_artifact_annotations > .view-content > .views-row .views-field-field-pece-struct-analytics .field-content .item-list ul li a,
.view-display-id-pece_question_artifact_annotions .field-name-field-pece-struct-analytics ul li a,
.view-display-id-pece_question_annotations .field-name-field-pece-struct-analytics ul li a,
.pane-node-field-pece-struct-analytics ul li a,
.pane-node-field-pece-struct-analytics a {
  border-color: #ff6a1b;
  color: #ff6a1b;
}

.view-display-id-pece_user_artifact_annotations > .view-content > .views-row .views-field-field-pece-struct-analytics .field-content .item-list ul li a:hover,
.view-display-id-pece_question_artifact_annotions .field-name-field-pece-struct-analytics ul li a:hover,
.view-display-id-pece_question_annotations .field-name-field-pece-struct-analytics ul li a:hover,
.pane-node-field-pece-struct-analytics ul li a:hover,
.pane-node-field-pece-struct-analytics a:hover {
  background-color: #ff6a1b;
}

/* Heading */

.entity-pece-photo-essay-item h3 a, .view-mode-meta-content h5 a  { color: #c14300 }
