/* PECE Distro Overrides */
.ui-tabs .ui-tabs-nav li.ui-state-active .ui-tabs-anchor { border-color:#7a2d96; background-color: #7a2d96; }
.ui-tabs .ui-tabs-nav li.ui-state-active .ui-tabs-anchor:hover { color: #7a2d96 }

.ui-tabs .ui-tabs-nav li .ui-tabs-anchor { border-color:#7a2d96; }
.ui-tabs .ui-tabs-nav li .ui-tabs-anchor:hover { background-color: #7a2d96; }

.view-mode-card .icon,
.view-mode-teaser .icon,
.view-mode-most-recent .icon,
.view-mode-mini-teaser .icon,
.view-pece-structured-analytics i { background-color: #7a2d96; }

.view-mode-meta-content .icon,
.view-mode-meta-content .icon::before { color: #7a2d96; }

.essay-link,
.annotate-link,
.field-name-group-group .field-item > a,
.field-name-field-pece-photo-essay-items [data-remodal-target] { background-color: #8d36ad; }
.essay-link:hover,
.annotate-link:hover,
.field-name-group-group .field-item > a:hover,
.field-name-field-pece-photo-essay-items [data-remodal-target]:hover { background-color: #a63fcc; }

.dashboard-artifact-submenu .dashboard-artifact-toggle::before { color: #7a2d96; }

.view-display-id-pece_question_artifact_annotions .views-field-picture::before,
.view-display-id-pece_user_artifact_annotations .views-field-picture::before,
.view-id-pece_my_noted_artifacts li.views-row > div::before,
.view-id-pece_my_analytics li.views-row > div::before,
.view-pece-my-biblio-items li.views-row > div::before,
.view-id-pece_my_projects li.views-row > div::before,
.view-pece-my-fieldsites li.views-row > div::before,
.view-id-pece_my_groups li.views-row > div::before { background-color: #7a2d96; }

.entity-pece-photo-essay-item h3 a, .view-mode-meta-content h5 a  { color: #7a2d96 }