/* PECE Distro Overrides */
#header-top { background-color: #252525; }

.ui-tabs .ui-tabs-nav li.ui-state-active .ui-tabs-anchor { border-color:#252525; background-color: #252525; }
.ui-tabs .ui-tabs-nav li.ui-state-active .ui-tabs-anchor:hover { color: #252525 }

.ui-tabs .ui-tabs-nav li .ui-tabs-anchor { border-color:#252525; }
.ui-tabs .ui-tabs-nav li .ui-tabs-anchor:hover { background-color: #252525; }

.view-mode-card .icon,
.view-mode-teaser .icon,
.view-mode-most-recent .icon,
.view-mode-mini-teaser .icon,
.view-mode-meta-content .icon,
.view-pece-structured-analytics i { background-color: #252525; }

.essay-link,
.annotate-link,
.field-name-group-group .field-item > a { background-color: #2a68af; }
.essay-link:hover,
.annotate-link:hover,
.field-name-group-group .field-item > a:hover { background-color: #4187d1; }

.dashboard-artifact-submenu .dashboard-artifact-toggle::before { color: #252525; }

.view-id-pece_my_noted_artifacts li.views-row > div::before,
.view-id-pece_my_analytics li.views-row > div::before,
.view-pece-my-biblio-items li.views-row > div::before,
.view-id-pece_my_projects li.views-row > div::before,
.view-pece-my-fieldsites li.views-row > div::before,
.view-id-pece_my_groups li.views-row > div::before { background-color: #252525; }