/*
@TODO: refactor into a better override management using sass.
*/

#main-navigation .sf-menu li li.sfHover>a, #main-navigation ul.menu li a:hover, #header-top ul.menu li a:hover, #header-top .sf-menu li li.sfHover>a,
#header-top ul.menu>li>a.active, #header-top ul.main-menu.menu>li.active-trail>a:hover, #header-top .sf-menu>li.sfHover>a,
.header-top-area .form-text, .header-top-area select { background-color: _color_primary_; }

.header-top-area table td, .header-top-area table th { border-color: _color_primary_; }

#header-top ul.menu li a { border-left: 1px solid _color_primary_; }

#header-top ul.menu li:last-child>a { border-right: 1px solid _color_primary_; }

div#header-top { background-color: _color_dark_primary_; }

a, blockquote:after, ul.menu li.collapsed > a:before, ul.menu li.expanded > a:before, .footer-area ul.menu li.active-trail > a:before, ul.pager li.pager-current,
.item-list ul li.pager-current.last, .node-mt .comment-counter, .comment ul.links li a, .ui-widget-content a, .view-mt-testimonials .views-field-title a,
.footer-area ul.social-media-info li a, ul.social-media-info li a:hover i, .ui-widget-content ul.links li a, .node-mt .post-submitted-info i,
.view-mt-testimonials .views-field-body p:first-child:after, .node-type-mt-testimonial .field-name-body p:first-child:after, .footer-area .views-field-title a
{ color: _color_secondary_; }

ul.menu li > a:hover:before { color: _color_secondary_!important; }

ul.pager li.pager-current, .item-list ul li.pager-current.last { border-bottom: 2px solid _color_secondary_; }

ul.links li a, a.more, input[type="submit"], input[type="reset"], input[type="button"], #main-navigation .sf-menu li.sfHover>a, #header-top, .checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back, .checkout-buttons .checkout-cancel:focus, .checkout-buttons .checkout-back:focus { background-color: _color_secondary_; }

#main-navigation .sf-menu ul, #header-top .sf-menu ul { background: _color_alpha_secondary_; }

a:hover, a:focus, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .footer-area h1 a:hover, .footer-area h2 a:hover,
.footer-area h3 a:hover, .footer-area h4 a:hover, .footer-area h5 a:hover, .footer-area h6 a:hover, .footer-area ul.menu li a:hover, ul.pager li > a:hover,
#breadcrumb a:hover, .comment ul.links li a:hover, .views-field-title a:hover, .ui-widget-content a:hover, ul.members-social-bookmarks li a:hover,
.ui-widget-content ul.links li a:hover, .entity-pece-photo-essay-item h3 a, .view-mode-meta-content h5 a { color: _color_alpha_primary_; }

ul.pager li > a:hover { border-bottom: 2px solid _color_tertiary_; }

#header-top ul.menu>li>a:hover, #header-top ul.menu>li>a.active, #header-top ul.main-menu.menu>li.active-trail>a:hover, #header-top .sf-menu>li.sfHover>a
{ border-bottom: 4px solid _color_tertiary_; }

.view-mt-features .views-row:hover .icon, ul.social-bookmarks li a:hover, ul.brands li a:hover, ul.members-social-bookmarks li a:hover,
.header-top-area ul.social-bookmarks li a:hover, .header-top-area ul.brands li a:hover { border-color: _color_tertiary_; }

ul.links li a:hover, a.more:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
.checkout-buttons .checkout-cancel:hover, .checkout-buttons .checkout-back:hover { background-color: _color_alpha_primary_; }

/* CSS Resets */

.header-top-area a { color: #fff; text-decoration: underline; }

.header-top-area a:hover { color: #fff; text-decoration: none; }

#header-top .sf-menu ul li a { border-color: transparent!important; }

#header-top ul.menu>li>a:hover, #header-top ul.menu>li>a.active, #header-top ul.main-menu.menu>li.active-trail>a:hover { border-left: 1px solid transparent; }

#header-top ul.menu li:last-child>a:hover, #header-top ul.menu>li:last-child>a.active, #header-top ul.main-menu.menu>li.active-trail:last-child>a:hover
{ border-right: 1px solid transparent; }

.header-top-area .block-search .form-actions:after, .footer-area .block-search .form-actions:after, .subfooter-area .block-search .form-actions:after,
.header-top-area .form-actions input, .footer-area .form-actions input, .subfooter-area .form-actions input {
background-color: rgba(0,0,0,0.2)!important; }

/* PECE Distro Overrides */

.header-top-area .form-text { background-color: _color_alpha_primary_ }

/* Tabs */

.ui-tabs .ui-tabs-nav li.ui-state-active .ui-tabs-anchor { border-color:_color_primary_; background-color: _color_primary_; }
.ui-tabs .ui-tabs-nav li.ui-state-active .ui-tabs-anchor:hover { color: _color_primary_ }

.ui-tabs .ui-tabs-nav li .ui-tabs-anchor { border-color:_color_primary_; }
.ui-tabs .ui-tabs-nav li .ui-tabs-anchor:hover { background-color: _color_primary_; }

/* View mode */

.view-mode-card .icon,
.view-mode-teaser .icon,
.view-mode-most-recent .icon,
.view-mode-mini-teaser .icon,
.view-pece-structured-analytics i { background-color: _color_primary_; }

.view-mode-meta-content .icon,
.view-mode-meta-content .icon::before { color: _color_primary_; }

/* Buttons */

.essay-link,
.annotate-link,
.view-mode-card .button,
.field-name-group-group .field-item > a,
.view-display-id-pece_question_annotations .view-footer a,
.view-display-id-pece_user_artifact_annotations .view-footer a,
.view-display-id-pece_question_artifact_annotions .view-footer a,
.field-name-field-pece-photo-essay-items [data-remodal-target] { background-color: _color_dark_primary_; }

.essay-link:hover,
.annotate-link:hover,
.view-mode-card .button:hover,
.field-name-group-group .field-item > a:hover,
.view-display-id-pece_question_annotations .view-footer a:hover,
.view-display-id-pece_user_artifact_annotations .view-footer a:hover,
.view-display-id-pece_question_artifact_annotions .view-footer a:hover,
.field-name-field-pece-photo-essay-items [data-remodal-target]:hover { background-color: _color_alpha_primary_; }

/* Menu */

.dashboard-artifact-submenu .dashboard-artifact-toggle::before { color: _color_primary_; }

/* Views */

.view-display-id-pece_question_annotations .views-field-picture::before,
.view-display-id-pece_question_artifact_annotions .views-field-picture::before,
.view-display-id-pece_user_artifact_annotations .views-field-picture::before,
.view-id-pece_my_noted_artifacts li.views-row > div::before,
.view-id-pece_my_analytics li.views-row > div::before,
.view-pece-my-biblio-items li.views-row > div::before,
.view-id-pece_my_projects li.views-row > div::before,
.view-pece-my-fieldsites li.views-row > div::before,
.view-id-pece_my_groups li.views-row > div::before { background-color: _color_primary_; }

.view-display-id-pece_user_artifact_annotations > .view-content > .views-row .views-field-field-pece-struct-analytics .field-content .item-list ul li a,
.view-display-id-pece_question_artifact_annotions .field-name-field-pece-struct-analytics ul li a,
.view-display-id-pece_question_annotations .field-name-field-pece-struct-analytics ul li a,
.pane-node-field-pece-struct-analytics ul li a,
.pane-node-field-pece-struct-analytics a {
  border-color: _color_alpha_primary_;
  color: _color_alpha_primary_;
}

.view-display-id-pece_user_artifact_annotations > .view-content > .views-row .views-field-field-pece-struct-analytics .field-content .item-list ul li a:hover,
.view-display-id-pece_question_artifact_annotions .field-name-field-pece-struct-analytics ul li a:hover,
.view-display-id-pece_question_annotations .field-name-field-pece-struct-analytics ul li a:hover,
.pane-node-field-pece-struct-analytics ul li a:hover,
.pane-node-field-pece-struct-analytics a:hover {
  background-color: _color_alpha_primary_;
}

/* Heading */

.entity-pece-photo-essay-item h3 a, .view-mode-meta-content h5 a { color: _color_primary_; }
