$sts-green: #2E5B60;
$sts-green-light: #33656B;
$sts-green-dark: #214044;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

@use "../../../node_modules/bulma/sass" with (
  $control-border-width: 2px,
  $family-primary: "'Open Sans', Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif",
  $family-secondary: "'Open Sans', Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif",
  $grey-dark: $sts-green-dark,
  $grey-light: $beige-light,
  $input-shadow: none,
  $link: $sts-green-light,
  $menu-item-radius: 0,
  $primary: $sts-green
);

@use "bulma/sass/utilities/mixins";



/* Full Width
-----------------------------------------------------------
*/

@mixin full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  max-height: inherit;
  overflow: hidden;
}

/* Blocks
-----------------------------------------------------------
*/

.featured-projects {
  @include full-width;
  background-color: var(--bulma-grey-light);
  padding-top: 1rem;
  padding-bottom: 1rem;

  .layout {
    @include mixins.tablet {
      margin: 0 5rem;
    }
    @include mixins.desktop {
      margin: 0 10rem;
    }
  }
}

// Main menu links
.navbar-menu a {
  border-left: var(--bulma-primary-light) 5px solid;
  padding: 1rem 3rem;
  text-align: center;
  border-right: transparent 4px solid;
  margin: 0 .25rem;
}
