$sts-green: #2E5B60;
$sts-green-light: #33656B;
$sts-green-dark: #214044;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

@use "../../../node_modules/bulma/versions/bulma-no-dark-mode.scss" as bulma with (
  $cssvars-prefix: "",
  $control-border-width: 2px,
  $family-primary: "'Open Sans', Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif",
  $family-secondary: "'Open Sans', Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif",
  $grey-dark: $sts-green-dark,
  $grey-light: $beige-light,
  $input-shadow: none,
  $link: $sts-green-light,
  $menu-item-radius: 0,
  $primary: $sts-green
  );

@use "bulma/sass/utilities/mixins" as mx;


// Typography

a:hover {
  text-decoration: underline;
  .facet-item__count {
    text-decoration: none;
  }
}


// Full Width
@mixin full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  max-height: inherit;
  overflow: hidden;
}

// Content

.links.inline.bulma {
  padding-top: 0;
}

// Blocks

.featured-projects {
  @include full-width;
  background-color: var(--grey-light);
  padding-top: 1rem;
  padding-bottom: 1rem;

  .layout {
    @include mx.tablet {
      margin: 0 5rem;
    }
    @include mx.desktop {
      margin: 0 10rem;
    }
  }
}

#block-peceful-exploreaproject {
  background-color:#ededed;
}

.front-page-block{
  padding-bottom: 1rem;
}

.front-page-block .paragraph--type--image-with-link {
  font-size: 1.5rem;
}

.front-page-block .subtitle {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.paragraph.paragraph--type--layout {
  margin-bottom: 2rem;
}

.paragraph--type--image-with-link svg {
  padding: 1.875rem;
  background-color: #ededed;
  border-radius: 1.5625rem;
  box-sizing: border-box;
  width: 7.5rem;
  fill: var(--link-text);
}


// Navbar

.navbar {
  background-color: transparent;
}

// Main menu links
.navbar-menu li {
  margin: 0 .25rem;
  a {
    // The variables i am using here do not even exist as far as i can tell,
    // however they allow the way Bulma does hover to still work whereas
    // background-color: transparent does not.  :shrug:
    --menu-item-h: var(--primary-95-h);
    --menu-item-s: var(--primary-95-s);
    --menu-item-l: var(--primary-95-l);
    border-left: var(--primary-light) 5px solid;
    padding: 1rem 3rem;
    text-align: center;
    border-right: transparent 5px solid;
    &.is-active {
      border-left-color: var(--primary);
      background-color: transparent;
      &:hover {
        cursor: default;
        pointer-events: none;
      }
    }
    &:hover {
      // 'selected' color is prettier & can be reused as bar indicates selected.
      --menu-item-h: var(--menu-item-selected-h);
      --menu-item-s: var(--menu-item-selected-s);
    }
  }
}

/*
.menu-list a.is-active,
.menu-list a.is-selected {
  --menu-item-background-l: var();
  --menu-item-color-l: var();
}
*/

.menu {
  --menu-item-selected-background-l: var(--menu-item-background-l);
  --menu-item-selected-color-l: var(--text-dark-l);
}

.form-search {
  border: 0;
  box-shadow: 0 6px 4px #f7fafc;
}

.dialog-off-canvas-main-canvas {
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    background-color: var(--primary-95);
    mask-image: url(../../../images/curve.svg);
    mask-repeat: no-repeat;
  }
}

// Note that because the CSS trick for opening/closing the megamenu region
// with a checkbox works with the sibling selector, all the button styles
// must remain *outside* the .region-megamenu class
// Always hide the checkbox itself.
.menu-btn-checkbox {
  display: none;
}
.menu-btn, .menu-btn-checkbox {
  float: right;
}
.menu-btn {
  &:hover {
    cursor: pointer;
  }
  // We do not use navbar-burger because we do not want the styles Bulma adds.
  .navicon {
    background: bulma.$body-color;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    margin-right: .5rem;
    top: -.275rem;
    &:before, &:after {
      background: bulma.$body-color;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }
    &:before {
      top: 5px;
    }
    &:after {
      top: -5px;
    }
  }
}

@include mx.from(bulma.$navbar-breakpoint) {
  .menu-btn {
    display: none;
  }
}

.menu-btn-checkbox:checked ~ .menu-btn .navicon {
  background: transparent;
  &:before {
    transform: rotate(-45deg);
    top: 0;
  }
  &:after {
    transform: rotate(45deg);
    top: 0;
  }
}

@include mx.until(bulma.$navbar-breakpoint) {
  // Override .#{iv.$class-prefix}navbar-menu { display: none } in bulma/sass/components/navbar.scss
  .navbar-menu {
    display: block;
  }
  #navbar-menu {
    width: 100vw;
    position: absolute;
    left: 0;
    top: .1rem;
    background-color: bulma.$navbar-background-color;
    z-index: 999;
    overflow: hidden;
    // Do not show when closed; see .menu-btn-checkbox:checked ~ #navbar-menu for opening.
    height: 0;
    opacity: 0;
    // Close quickly.
    transition-duration: .5s;
  }
  // Show megamenu region when open.
  .menu-btn-checkbox:checked~#navbar-menu {
    height: 100vh;
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: .75s;
  }
}

// Search & Facets

#block-global-text-search {
  .form-item {
    width: 70%;
    display: inline-block;
  }
  .form-actions {
    width: auto;
    display: inline-block;
  }
  div[data-drupal-selector$="-collapsible"] {
    display: none !important;
  }
}

.bef-exposed-form {
  details {
    margin-left: 1rem;
    summary {
      font-weight: 700;
      margin-left: -1rem;
      font-size: 1rem;
    }
    // This is quite ridiculous, but to target the help text (more information)
    // we need to target the entire div and then undo it, because it is not
    // wrapped in any element at all.
    font-size: 0.8rem;
    .form-item {
      // And somehow the help text will wrap and push the facets below to indent
      // if we do not take preventative measures here.
      width: 100%;
    }
  }
  .bef-links {
    font-size: 1rem;
    margin-top: 0.5rem;
    // Hanging indent.
    text-indent: -1rem;
    padding-left: 1rem;
    ul li {
      position: relative;
      a.bef-link--selected {
        &::before {
          font-size: 0.777rem;
          content: "â— ";
          position: absolute;
          left: -.8rem;
          top: .2rem;
        }
        &:hover::before {
         content: "ð—‘ ";
        }
      }
    }
  }
}

// Admin

// Useful for administrators only, keep article contextual link out of way of
// view contextual link.
article .contextual {
  right: 20px;
}

// Layout builder

// Add a gap to layouts, @todo consider whether this same gap should ba pplied between all layouts
.layout--twocol-section.layout--twocol-section--50-50{
  justify-content: space-evenly;
  > div[class^="layout__region"] {
    flex: 0 1 50%;
  }
  &.layout-collapse {
    gap: 3rem;
  }
}

// hide pagination
.splide .splide__pagination {
  position: unset;
  .is-active {
    filter: brightness(50%);
  }
}

// Tabs

.tabs.is-small {
  ul {
    li {
      margin: 0 !important;
      a {
        font-size: .9rem;
      }
    }
  }
}

// Layouts

.layout-collapse summary {
  font-size: 1.5rem;
  color: var(--subtitle-heading-color);
  font-weight: var(--subtitle-heading-weight);
  line-height: var(--subtitle-heading-line-height);
  text-transform: uppercase !important;
  border-left: var(--primary-light) 5px solid;
  background-color: hsl(186deg, 35%,calc(100% + -5%));
  padding: 5px 5px 5px 5px;
}

.layout-collapse--closed {
  margin-bottom: 20px;
}

.layout-collapse--open {
  margin-bottom: 20px;
}

.layout-collapse--closed .block {
  padding: 0 20px 0 20px;
}

.layout-collapse--open .block {
  padding: 0 20px 0 20px;
}

.layout-collapse--none {
  margin-bottom: 20px;
}

.layout-collapse details .block:first-of-type{
  margin-top: 20px;
}


.card {
  box-shadow: none;
}

.meta-content {
  padding-bottom: 0;
  h3 {
    margin: 0;
    &:not(:first-child) {
      margin-top: 0;
    }
  }
  .type-tray__icon--vector svg {
    padding: 10px;
    fill: var(--link-text);
    background-color: white;
    border: var(--link-text) solid 2px;
    border-radius: 15px;
    height: 3em;
    width: 3em;
  }
}

.mini-teaser {
  padding-bottom: 2rem;
  h2 {
    margin: 0;
    &:not(:first-child) {
      margin-top: 0;
    }
  }
  .type-tray__icon--vector svg {
    height: 3em;
    width: 3em;
    padding: 10px;
  }
}

.media-fullwidth {
  img{
    width: 100%;
  }
}
