$sts-green: #2E5B60;
$sts-green-light: #33656B;
$sts-green-dark: #214044;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

@use "../../../node_modules/bulma/sass" with (
  $control-border-width: 2px,
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $sts-green-dark,
  $grey-light: $beige-light,
  $input-shadow: none,
  $link: $sts-green-light,
  $menu-item-radius: 0,
  $primary: $sts-green
);
