.frontpage-slideshow-view-wrapper .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  font-size: 60px;
  color: #FFFFFFAA;
  margin-bottom: 25px;
}

.frontpage-slideshow-view-wrapper .owl-next span,
.frontpage-slideshow-view-wrapper .owl-prev span {
  background-color: black;
  line-height: 30px;
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;
}

.frontpage-slideshow-view-wrapper .views-field-field-pece-slideshowimage-link {
  position: absolute;
  width: 100%;
  font-size: 20px;
  text-align: center;
  bottom: 0;
  background-color: #FFFFFFCC;
}
