/**
 * @file
 * Custom CSS for the WYSIWYG module.
 */

#wysiwyg-security-filters .filter-wrapper {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0px 8px;
}

#wysiwyg-security-filters .filter-status-enabled {
  background-image: url('../images/tick.png');
}

#wysiwyg-security-filters .filter-status-disabled {
  background-image: url('../images/delete.png');
}
