/*
 *------------------------------------------------------------------------------
 * Annotations view styles
 *------------------------------------------------------------------------------
 */

.node-type-pece-analytic,
.page-annotations-user,
.page-annotions-question
  h1
    text-transform: none

.view-display-id-pece_user_artifact_annotations,
.view-display-id-pece_question_artifact_annotions,
.view-display-id-pece_question_annotations
  > .view-content > .views-row
    + .views-row > .views-row-inner
      margin-top: 1em
      border-top: 2px dotted #ddd

    > .views-row-inner
      padding-top: 2em

    .field-name-body
      margin-top: 1em

    h2
      display: inline-block
      margin: 10px
      text-transform: none

      & + div
        display: inline-block
        margin-left: 1em
        padding: 0 1em
        background-color: #E2E2E2

        a
          color: $color-primary

  .views-exposed-widgets
    +make-row()

  #edit-uid-wrapper
    +make-md-column(3)
    +make-sm-column(4)
    +make-xs-column(12)

  #edit-artifact-wrapper
    +make-md-column(7)
    +make-sm-column(6)
    +make-xs-column(12)

  .views-submit-button
    +make-sm-column(2)

  .views-field-edit-node
    margin: 1rem 0

  .views-field-edit-node a
    border: 1px solid #bbb
    display: inline-block
    padding: 1rem 1.75rem
    &::before
      font-family: $font-family-icon
      content: "\f040"
      padding-right: 10px

  .views-field-edit-node a:hover
    text-decoration: none
    background-color: #eee

  .view-footer
    margin-top: 2rem
    a
      @extend %button-vivid

  .views-field-field-pece-tags-1
    margin-top: 1rem

    .field-content
      @extend %tags

.view-display-id-pece_question_artifact_annotions,
.view-display-id-pece_question_annotations
  .views-row-inner
    position: relative
    padding-left: 10rem

  .views-field-name
    text-transform: capitalize

  .view-footer a
    text-align: right

.view-display-id-pece_user_artifact_annotations,
.view-display-id-pece_question_annotations
  .views-field-artifact-meta-content
    align-items: center
    background-color: $color-gray-extra-lighter
    border: 1px solid $color-gray-lighter
    display: flex
    margin: 1.25rem 0
    padding: 1.25rem 1.5rem

    > span
      color: $color-gray
      display: block
      font-style: italic
      margin-right: 2rem

      &::before
        content: '↩'
        display: inline-block
        margin-right: 1rem

// !!! WARNING !!!
// Used for placing page title beside Users' picture.
.page-annotations-user-artifact
  h1
    margin-left: 90px
    position: absolute
    line-height: 10px

.view-display-id-pece_user_artifact_annotations
  .views-field-artifact-meta-content
    margin: 3rem 0 1.25rem
  > .view-content > .views-row
    h2
      margin: 10px 0
    h2 + div
      display: block
      margin: 1rem 0
      padding: 0
      background: none
      h2
        padding: .5em
        background-color: #E2E2E2

    .views-field-field-pece-struct-analytics
      .field-content .item-list
        @extend %tags
        margin: 0
        ul
          list-style: none
          li
            display: inline-block
            margin: 0 .2rem 0 0
            a
              color: $color-royal-purple
