.view-tag-term
  .views-row
    > div
      margin-bottom: 2rem
    .node
      &::before
        %type-icon
        color: $color-gray-light
        text-align: right
        font-family: $font-family-icon
        width: 100%
        padding: 2px 4px
        border-bottom: 1px solid $color-gray-lighter
      @each $selector, $char in $icon-node-type-selectors
        &#{$selector}::before
          content: $char
      h3
        margin-top: 5px

  h5
    text-overflow: ellipsis
    white-space: nowrap
    text-align: center
    overflow: hidden
    width: 100%