/**
 * @file
 * Encrypt Main CSS
 *
 * This file holds the base CSS for the encrypt module
 *
 * @ingroup encrypt
 */

/**
 * Admin List
 */
.encrypt-admin-list-item .encrypt-admin-list-item-label {
  font-weight: bold;
}

.encrypt-admin-list-item .encrypt-admin-list-item-description {
  font-size: .9em;
}

ul.encrypt-dependency-errors,
.encrypt-warning {
  color: #ff0000;
}
.vertical-tabs .form-type-textfield input {
  width: auto;
}
