/**
 * Improve the styling for showing the Radix layouts on the layout selection
 * dialog.
 */

#panels-layout-category-Radix {
  margin: 3% 6%;
}

#panels-layout-category-Radix-wrapper .panels-layouts-category,
#panels-layout-category-Radix-wrapper .layout-link div {
  display: none;
}

#panels-layout-category-Radix-wrapper .layout-link {
  float: left;
  height: 100px;
  width: 100px;
  padding: 1.25em;
  text-align: center;
}

#panels-layout-category-Radix-wrapper .layout-link:hover {
  background-color: #BBB;
}

#panels-layout-category-Radix-wrapper .current-layout {
  background-color: #DDD;
}
