start on starting {{ nodejs_app.service }}
stop on stopping {{ nodejs_app.service }}

respawn
respawn limit 10 5

setuid {{ nodejs_app.user }}
setgid {{ nodejs_app.group }}

env PORT={{ nodejs_app.port|int + item|int - 1 }}
env HOME={{ nodejs_app.env.HOME }}

chdir {{ nodejs_app.dir }}
exec direnv exec . {{ nodejs_app.start }} >> {{ nodejs_app.logdir }}/{{ nodejs_app.service }}.log 2>&1
