#og_mailinglist-subscriptions-settings-form select {
  margin: 0;
}
#og_mailinglist_undo {
  text-decoration: underline;
  color: #755507;
}

.toggle-quoted-text {
  font-size: smaller;
  color: #006;
  cursor: pointer;
}
.quoted-text {
  background: #FCFCFC;
  border-left: 1px solid gray;
  color: #555;
  padding-left: 0.5em;
}
.quoted-text.hidden {
  display: none;
}
