/**
 * Media Brwoser fixes
 */

/* =====================*/
/* General */
/* ===================== */

.admin-menu.onscroll #header {
  top: 30px !important;
}

/* =====================*/
/* Administration Pages */
/* ===================== */

body.adminimal-theme * {
  box-sizing: border-box !important;
}

#node-edit .form-item-name label {
  width: auto;
}

#node-edit .form-item-path-alias * {
  display: inline-block;
  float: none;
}

/* =====================*/
/* Administration Menu  */
/* ===================== */

#admin-menu .dropdown li ul {
  display: block !important;
  left: auto !important;

  visibility: hidden !important;
  transition: visibility 0s 250ms;
}

#admin-menu .dropdown li:hover > ul {
  visibility: visible !important;
}

/* =====================*/
/* Tables */
/* ===================== */

a.tabledrag-handle .handle {
  width: 22px;
  height: 22px;
}

/* =====================*/
/* Messages */
/* ===================== */

div.messages.error:before {
  padding-top: 8px;
}

div.messages .krumo-node,
div.messages .krumo-node a {
  color: black;
}

/* =====================*/
/* Autocoplete */
/* ===================== */

#autocomplete {
  min-height: 40px;
  border: 1px solid #E1E1E1;
  border-bottom: 2px solid #E1E1E1;
}

#autocomplete ul,
.reference-autocomplete ul {
  border: none;
}

#autocomplete ul li,
.reference-autocomplete ul li {
  padding: 10px;
}

#autocomplete ul li:hover,
.reference-autocomplete ul li:hover {
  background-color: #E1E1E1;
  line-height: 1.5em;
}

#autocomplete ul li a,
.reference-autocomplete ul li a {
  line-height: 1.5em;
  font-size: 1.5em;
  text-align: center;
}

#autocomplete ul li a:hover,
.reference-autocomplete ul li a:hover {
  color: #FFF;
  font-weight: bold;
}


/* =====================*/
/* Media */
/* ===================== */

#media-browser-tabset ul.tabs.primary li a:link {
  padding: 0 1em !important;
  line-height: 3em !important;
  font-weight: bold !important;
}

/* =====================*/
/* Modal */
/* ===================== */

.not-logged-in #modalContent a.close,
.not-logged-in button.ui-dialog-titlebar-close {
  background: url(images/close.png) no-repeat center center !important;
  height: 24px !important;
  width: 24px !important;
}

button.ui-dialog-titlebar-close {
  padding: 0;
  right: 12px !important;
  top: 12px !important;
}

.ui-dialog button.ui-dialog-titlebar-close span.ui-icon {
  display: none;
}

#modalContent {
  background-color: #666;
  border-radius: 5px 5px 0 0;
}

#modalContent a.close {
  margin-top: 12px;
}

#modalContent .modal-content {
  border: none;
  box-shadow: none;
}

#modalContent input.form-text,
#modalContent select,
#modalContent textarea {
  width: 100%;
}

#modalContent .form-textarea-wrapper {
  margin: 0 auto;
}

#modalContent textarea {
  margin: 0;
}

#modalContent fieldset {
  border:1px solid #dddddd;
  padding: inherit;
  margin: 20px 0 35px;
  height: inherit;
}

#modalContent fieldset.collapsed legend {
  border-radius: 0;
}

#modalContent fieldset legend {
  background: #FFF;
  border:1px solid #dddddd;
  border-radius: 0;
  display: inline-block;
  width: auto;
  padding: 5px;
  font-size: inherit;
  text-transform: uppercase;
  margin-left: 10px;
}

#modalContent .field-type-taxonomy-term-reference {
  overflow: inherit;
}

/* =====================*/
/* Panels IPE */
/* ===================== */

#panels-ipe-edit-control-form #panelizer-save-default {
  display: inline-block;
}
