/**
 * Edit links for mini panels
 */
a.edit-mini-panel-link:link,
a.edit-mini-panel-link:visited {
  display: block;
  background: #000000;
  color: #FFFFFF;
  padding: .75em .5em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

a.edit-mini-panel-link:hover,
a.edit-mini-panel-link:focus,
a.edit-mini-panel-link:active {
  text-decoration: none;
  background: #999;
}
