/**
 * Media Brwoser fixes
 */

.onscroll #header {
  top: 30px !important;
}

button.ui-dialog-titlebar-close {
  height: 24px !important;
  width: 24px !important;
  top: 12px !important;
  background: url(images/close.png) no-repeat center center !important;
  padding: 0;
  right: 12px !important;
}

#media-browser-tabset ul.tabs.primary li a:link {
  padding: 0 1em !important;
  line-height: 3em !important;
  font-weight: bold !important;
}

