// Styles for Views
// --------------------------------------------------

.view-display-id-pece_user_artifact_annotations
  .views-row
    margin-bottom: 2em
    border-bottom: 1px solid #ACACAC
    padding-bottom: 10px
    h2
      display: inline-block
      & + div
        display: inline-block
        margin-left: 1em
        padding: 0 1em
        background-color: #E2E2E2
