$databases['default']['default'] = array(
  'host' => '{{ drupal_db.host }}',
  'database' => '{{ drupal_db.database }}',
  'username' => '{{ drupal_db.user }}',
  'password' => '{{ drupal_db.password }}',
  'port' => '{{ drupal_db.port }}',
  'driver' => '{{ drupal_db.driver }}',
  'prefix' => '{{ drupal_db.prefix }}',
);