#node-pece-annotation-annotation-step-2-form .entities-list:not(.entities-list--single-item) {
    display: block;
}

#node-pece-annotation-annotation-step-2-form .entities-list .item-container > input {
    margin: 0;
    margin-top: 8px;
}

#node-pece-annotation-annotation-step-2-form .entities-list .item-container {
    padding: 12px;
}

#node-pece-annotation-annotation-step-2-form h4 {
    font-size: 1.2rem;
    font-weight: normal;
}