#entity-browser-analytic-browser-form .view-content {
    display: block;
}

#entity-browser-analytic-browser-form .views-row .views-field-entity-browser-select {
    visibility: hidden;
}

#entity-browser-analytic-browser-form .views-row {
    margin: 8px 0px;
}

#entity-browser-analytic-browser-form .views-view-grid .views-col {
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
    padding: 0px 8px;
}