.page-home
  .view
    ul li
      list-style-type: none
      display: inline-block
      width: 17%
      text-align: center
      vertical-align: top

  .pane-title
    margin-bottom: 30px

  #main-content
    .pane-views-panes:nth-child(odd)
      background-color: $color-gray-extra-lighter

    .pane-views-panes:nth-child(even)
      background-color: $color-gray-lighter
      border: 1px solid #777
