{% extends 'paragraph.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-md-9 bg-black img-container">
      {{content.field_pece_image_artifact}}
    </div>
    <div class="col-md-3">
      {{content.field_pece_description}}
    </div>
  </div>
{% endblock %}

