.navbar-right li:nth-child(2){
  display:none;
}

.navbar-right li:nth-child(3){
  display:none;
}

.navbar-right li:nth-child(4){
  display:none;
}
img[src*="#logo"] {
   width:300px;
}
.column1 {
  float: left;
  width: 70%;
  padding: 10px;
.column2 {
  float: left;
  width: 30%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
