/**
 * @file navbar.menu-rtl.css
 */
.drupal-navbar .navbar-tray-vertical .navbar-handle + a {
  margin-left: 3em;
  margin-right: 0;
}

/**
 * Handle.
 */
.drupal-navbar .navbar-icon.navbar-handle {
  left: 0;
  right: auto;
}
.drupal-navbar .navbar-icon.navbar-handle:before {
  left: auto;
  right: 0;
}
