/*
 *------------------------------------------------------------------------------
 * Pece Photo Essay Item
 *------------------------------------------------------------------------------
 */

.photo-essay-modal.remodal
  background: transparent

  .remodal-close
    left: auto
    right: 0

.field-name-field-pece-photo-essay-items
  [data-remodal-target]
    @extend %button-vivid

.entity-pece-photo-essay-item
  display: flex
  height: 100%

  .photo-essay-image
    display: flex
    flex-grow: 1
    flex-direction: column
    justify-content: center
    background-color: black
    text-align: center

    img
      display: inline-block
      max-height: 80vh

  .photo-essay-content
    width: 33%
    padding: 2em
    background: white
    max-height: 80vh
    flex-shrink: 0
    text-align: left

.slick-slider
  user-select: text

.slick-list.draggable
  user-select: none
