/*
 *------------------------------------------------------------------------------
 * Pece Photo Essay Item
 *------------------------------------------------------------------------------
 */

.photo-essay-modal.remodal
  background: transparent

  .remodal-close
    left: auto
    right: 0

.entity-pece-photo-essay-item
  display: flex
  height: 100%

  .photo-essay-image
    display: flex
    flex-grow: 1
    flex-direction: column
    justify-content: center
    background-color: black
    text-align: center

    img
      display: inline-block
      max-height: 80vh

  .photo-essay-content
    width: 33%
    padding: 2em
    background: white
    max-height: 80vh
    flex-shrink: 0



.slick-slider
  user-select: text

.slick-list.draggable
  user-select: none

  // .field-name-field-description
  //   +make-md-column(8)
  //
  // .design-logic-sidebar
  //   +make-md-column(4)
