/**
 * @file
 * Styles for nodeorder module.
 */

a.nodeorder-order-link {
  padding-left: 1em;
}

#nodeorder .item-wrapper {
  display: inline-block;
  position: relative;
  float: left;
}

#nodeorder .item-wrapper > div {
  margin-right: 1em;
    position: relative;
  float: left;
  display: inline-block;
}
