/**
 * Navbar Styling
 */
a#navbar-link-admin-panopoly:before {
  background-image: url("images/icon-panopoly.png");
}

a#navbar-link-admin-panopoly.active:before {
  background-image: url("images/icon-panopoly-active.png");
}

a#navbar-link-admin-apps:before {
  background-image: url("images/icon-apps.png");
}

a#navbar-link-admin-apps.active:before {
    background-image: url("images/icon-apps-active.png");
}

#navbar-tray--2 a {
    padding-left: 2.75em;
    position: relative;
}

#navbar-tray--2 a:before {
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    left: 0.6667em; /* LTR */
    position: absolute;
    top: 0;
    width: 20px;
    background-image: url("images/icon-add.png");
}

#navbar-tray--2 a.active:before {
    background-image: url("images/icon-add-active.png");
}

#navbar-administration .edit-shortcuts {
    display: none;
}
