/* Error: There is no module with the namespace "mixins".
 *    ,
 * 48 | /     @include mixins.tablet {
 * 49 | |       margin: 0 5rem;
 * 50 | \     }
 *    '
 *   skins/default/scss/main.scss 48:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "mixins".\a    \2577 \a 48 \2502  \250c      @include mixins.tablet {\a 49 \2502  \2502        margin: 0 5rem;\a 50 \2502  \2514      }\a    \2575 \a   skins/default/scss/main.scss 48:5  root stylesheet';
}
