# ignore modules in contrib, but keep the README.md
modules/contrib/*
!modules/contrib/README.md

# ignore modules in kraftwagen, but keep the README.md
modules/kraftwagen/*
!modules/kraftwagen/README.md

# OS specific shit
.DS_Store
Thumbs.db
