/**
 * Stylesheet for PECE Profile
 */


#panopoly-apps-check #edit-pantheon img {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

body.in-maintenance #branding {
  background: #8D36AD;
}

body.in-maintenance #branding h1 {
  color: white;
}

body.maintenance-page #logo {
  background:transparent url(pece.png) no-repeat top left;
  height:0;
  overflow:hidden;
  padding-top: 78px; /* height of logo  */
  width: 180px; /* width of logo  */
}
